@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";
@import "../../sass/global/_center.scss";
.type-select{
	float:left;
	position:relative;
	width:200px;
	@include vCenterLineHeight(36px);
	background-color:#fff;
	border:1px solid #ccc;
	border-radius: $border-radius-normal;
	span{
		padding-left: 10px;
	}
	i{
		position: absolute;
		right:10px;
		top:10px;
		cursor: pointer;
	}
	ul{
		position: absolute;
		top:36px;
		width:100%;
		background-color:#fff;
		border:1px solid #ccc;
		border-radius: $border-radius-normal;
	}
	li{
		@include vCenterLineHeight(24px);
		padding-left: 10px;
		border-radius: $border-radius-normal;
		&:hover{
			background-color: $theme-adorn-color;
		}
	}
}