@import "../../sass/variables";
@import "../../sass/mixin/vertical_center";
@import "../../sass/global/_center.scss";
.select{
	float:left;
	position:relative;
	width:$select-normal-width;
	@include vCenterLineHeight($select-normal-height);
	background-color:#fff;
	border:$border-normal-gray;
	border-radius: $border-radius-normal;
	span{
		padding-left: $select-show-text-padding-left;
	}
	i{
		@extend .common-vertical-center-transform;
		right:$select-dropdown-pos-right;
		cursor: pointer;
	}
	ul{
		position: absolute;
		top:$select-normal-height;
		width:100%;
		background-color:#fff;
		border:$border-normal-gray;
		border-radius: $border-radius-normal;
		z-index:999;
	}
	li{
		@include vCenterLineHeight($select-option-item-height);
		padding-left: $select-option-item-padding-left;
		border-radius: $border-radius-normal;
		&:hover{
			color:#fff;
			background-color: $theme-adorn-color;
		}
	}
}