$theme-main-color:#22C3AA;
$theme-adorn-color:#D0648A;
//herader
$header-height:60px;
$header-padding-vertical:5px;
$header-padding-level:20px;
$logo-size:$header-height - $header-padding-vertical*2;
$nav-height:30px;
$header-n-color:#fff;
$header-n-font-size:18px;
$contact-item-size:40px;
$header-n-shadow:5px 5px 10px #555;