@import "../../sass/variables";
@import "../../sass/global/_center.scss";
@import "../../sass/mixin/_vertical_center.scss";
.root{
	position:relative;
    width: 1140px;
    position: relative;
    margin: auto;
}
.header{
	position:relative;
	padding-bottom:10px;
	border-bottom: 5px double #D0648A;
}
.extra-info{
	display:flex;
	flex-direction: column-reverse;
    text-align: right;
    height:60px;
}
.content-container{
	width:900px;
	border-bottom:5px dotted #22C3AA;
}
.sidebar{
	width:240px;
}
.title{
    text-shadow: 1px 1px #22C3AA;
    color: #555;
    margin-bottom: 10px;
}
.date,.browse-times strong{
	color:#22C3AA;
	font-weight:bold;
}
.content{
	clear:both;
}