@import "../../sass/variables";
@import "../../sass/global/_center.scss";
@import "../../sass/mixin/_vertical_center.scss";
.new-file{
	width:$new-main-width;
	height:$new-main-height;
	padding-top:$new-main-padding-top;
	@extend .common-level-center-transform;
}

.tag-bar-wrap{
	float:left;
	margin:0 $new-tagbar-wrap-margin-level;
	padding-left: $new-tagbar-wrap-padding-left;
	width:$new-tagbar-wrap-width;
	position:relative;
	@include vCenterLineHeight($new-oneline-height);
	background-color:#fff;
	border:$border-normal-gray;
	border-radius:$border-radius-normal;
	input{
		float: left;
		width:$new-tagbar-input-width;
		border:none;
		@include vCenterLineHeight($new-oneline-height - 2);
		&:focus{
			outline: none;
		}
	}
	[data-role=tag-bar]{
		float: left;
	}
}

.btn-group{
	float:left;
	width:$new-btngroup-width;
	text-align:right;
	button:last-child{
		margin-right:0;
	}
}

.editor,.previewer{
	float:left;
	width:$new-operate-area-width;
	height:$new-operate-area-height;
	border:$border-normal-gray;
	margin-top:$new-operate-area-margin-top;
	background-color:#fff;
	font:$new-operate-area-font;
}

.editor{
	margin-right:$new-operate-area-gutter;
	textarea{
		font:$new-operate-area-font;
		width:100%;
		height: 100%;
		border:none;
		resize: none;
	}
}
.header{
	@include vCenterLineHeight($new-operate-area-header-height);
	margin-top:-$new-operate-area-header-height;
}


