@import "../../sass/variables";
@import "../../sass/global/_center.scss";
@import "../../sass/mixin/_vertical_center.scss";
.login{
	[data-role*="tip-no"]{
		position:relative;
		margin: $login-tip-bar-margin;
		height:$login-tip-bar-height;
	}
	.auto-login{
		text-align:left;
		padding-left:($form-box-width - $form-input-width)/2;
	}
}
