@import "../../sass/variables";
@import "../../sass/global/_center.scss";
@import "../../sass/mixin/_vertical_center.scss";
.root{
	height:100%;
	min-height: 600px;
	background: linear-gradient(#fff,#22C3AA);
	[data-role*="tip-no"]{
		position:relative;
		margin: $login-tip-bar-margin;
		height:$login-tip-bar-height;
	}
	.auto-login{
		text-align:left;
		padding-left:($form-box-width - $form-input-width)/2;
		.auto-login-checkbox{
			margin-right:5px;
		}
		input{
			display:none;
		}
	}
	.quick-link-item{
		display:block;
		text-align:right;
		padding-right:50px;
		margin-top:10px;
		color:$theme-adorn-color;
		transition: all 1s;
		&:hover{
			text-decoration:underline;
		}
	}
}
