@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";
.contact{
	float:right;
	@include vCenterLineHeight($contact-icon-height);
	.contact-item{
		display: inline-block;
		@include square($contact-icon-size);
		@include vCenterLineHeight($contact-icon-size);
		margin: $contact-icon-margin;
		text-align: center;
		border-radius: $border-radius-circle;
		cursor: pointer;
		transition: all $transition-time-normal;
		&:hover{
			background-color: $theme-adorn-color;
			box-shadow:$contact-icon-shadow;
		}
	}
}
.fa{
	display: inline-block;
	color:$contact-icon-color;
	font-size: $contact-icon-font-size;
}
