@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";
.contact{
	float:right;
	@include vCenterLineHeight($header-height - $header-padding-vertical*2);
	.contact-item{
		display: inline-block;
		@include square($contact-item-size);
		@include vCenterLineHeight($contact-item-size);
		margin: 0 10px;
		text-align: center;
		border-radius: 50%;
		cursor: pointer;
		transition: all 1s;
		&:hover{
			background-color: $theme-adorn-color;
			box-shadow:$header-n-shadow;
		}
	}
}
:global{
	.fa{
		display: inline-block;
		color:$header-n-color;
		font-size: $header-n-font-size + 6;
	}
	.fa-segmentfault::before{
		content:"Seg";
		font-size:16px;
		font-weight: bold;
	}
	.fa-douban::before{
		content:"豆瓣";
		font-size:16px;
		font-weight: bold;
	}
}
