@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";
@import "../../sass/global/_center.scss";
.modal{
	@extend .common-level-center-transform;
	top:$modal-pos-top;
	width:$modal-normal-width;
	border-radius:$border-radius-normal;
	box-shadow:$box-shadow-normal;
	background-color:#fff;
	font-size:$modal-font-size;
}
.modal-header{
	@include vCenterLineHeight($modal-header-height);
	position:relative;
	color:$modal-header-color;
	padding:$modal-header-padding;
	background-color:$modal-adorn-background;
	border-radius:$border-radius-normal;
	i{
		position: absolute;
		top:$modal-close-pos-top;
		right:$modal-close-pos-right;
		cursor: pointer;
		&:hover{
			color: $modal-close-hover-color;
		}
	}
}
.modal-body{
	padding:$modal-body-padding;

}
.modal-footer{
	@include vCenterLineHeight($modal-footer-height);
	text-align:center;
	button{
		width:$modal-footer-button-width;
		height: $modal-footer-button-height;
		color: $modal-footer-button-color;
		border:1px solid $modal-adorn-background;
		background-color: $modal-adorn-background;
		margin-right: $modal-footer-button-margin;
		cursor: pointer;
		border-radius: $border-radius-normal;
		transition: all $transition-time-normal;
		&:hover{
			background-color: $modal-footer-button-hover-background;
			border-color:$modal-footer-button-hover-background;
		}
	}
}