@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";
@import "../../sass/global/_center.scss";
.modal{
	@extend .common-level-center-transform;
	top:20%;
	width:400px;
	border-radius:$border-radius-normal;
	box-shadow:$top-header-n-shadow;
	background-color:pink;
}
.modal-header{
	@include vCenterLineHeight(30px);
	position:relative;
	padding:0 10px;
	font-size:14px;
	i{
		position: absolute;
		top:5px;
		right:10px;
		cursor: poionter;
	}
}
.modal-body{
	padding:10px;

}
.modal-footer{
	@include vCenterLineHeight(60px);
	text-align:center;
	button{
		width:80px;
		height: 30px;
		background-color: blue;
		margin-right: 10px;
	}
}