@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";
@import "../../sass/global/_center.scss";
.modal{
	@extend .common-level-center-transform;
	top:$modal-pos-top;
	width:$modal-normal-width;
	border-radius:$border-radius-normal;
	box-shadow:$box-shadow-normal;
	background-color:#fff;
	font-size:$modal-font-size;
}
.modal-header{
	@include vCenterLineHeight($modal-header-height);
	position:relative;
	color:$modal-header-color;
	padding:$modal-header-padding;
	background-color:$modal-adorn-background;
	border-radius:$border-radius-normal;
	i{
		position: absolute;
		top:$modal-close-pos-top;
		right:$modal-close-pos-right;
		cursor: pointer;
		&:hover{
			color: $modal-close-hover-color;
		}
	}
}
.modal-body{
	padding:$modal-body-padding;

}
.modal-footer{
	@include vCenterLineHeight($modal-footer-height);
	text-align:center;
}