@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";
@import "../../sass/global/_center.scss";
.tag-bar{
	font-size:$tag-normal-font-size;
	font-family:$tag-normal-font-family;
	color:$tag-normal-color;
}
.tag{
	display:inline-block;
	line-height:1;
	margin-right:$tag-normal-margin-right;
	padding:$tag-normal-padding;
	background-color:$tag-normal-background;
	border-radius:$border-radius-normal;
	i{
		cursor: pointer;
		margin-left:$tag-close-icon-margin-left;
		&:hover{
			color: $tag-close-icon-hover-color;
		}
	}
}