$theme-main-color:#22C3AA;
$theme-adorn-color:#D0648A;
$border-radius-normal: 5px;
$border-radius-small: 3px;
$border-radius-circle: 50%;
$border-normal-main:1px solid $theme-main-color;
$border-normal-adorn:1px solid $theme-adorn-color;
$transition-time-normal:1s;

//top-header
$top-header-width:100%;
$top-header-height:60px;
$top-header-padding-vertical:5px;
$top-header-padding-level:20px;
$top-header-n-color:#fff;
$top-header-n-font-size:18px;
$top-header-n-font:bold $top-header-n-font-size "Microsoft YaHei",sans-serif;;
$top-header-n-shadow:5px 5px 10px #555;
$logo-size:$top-header-height - $top-header-padding-vertical*2;
$header-nav-height:30px;
$header-nav-item-width:120px;
$header-nav-item-margin:0 10px;
$header-nav-item-border-radius:0 10px 0 10px;
$header-nav-item-border-radius-hover:10px 0 10px 0;

//form-box
$form-box-width:400px;
$form-box-margin-top:200px;
$form-box-border: 1px solid $theme-main-color;
$form-group-height:42px;
$form-group-margin-bottom:20px;
$form-input-icon-width:20px;
$form-input-width:300px;
$form-input-padding-left:$form-input-icon-width;
$form-operate-btn-width:$form-input-width;
$form-operate-btn-color:#fff;
$form-operate-btn-font-size:16px;

//quick-link
$quick-link-height:$top-header-height - $top-header-padding-vertical*2;
$quick-link-font-size:14px;
$quick-link-color-default:$theme-main-color;
$quick-link-color-custom:$top-header-n-color;
$quick-link-color-hover:$theme-adorn-color;
$quick-link-item-padding:0 5px;
$quick-link-item-division:1px solid #fff;

//contact-icon
$contact-icon-height:$top-header-height - $top-header-padding-vertical*2;
$contact-icon-size:40px;
$contact-icon-margin:0 10px;
$contact-icon-shadow:$top-header-n-shadow;
$contact-icon-color:$top-header-n-color;
$contact-icon-font-size:24px;

//tip-bar
$tip-bar-width:300px;
$tip-bar-font-size:12px;
$tip-bar-line-height:1.5;
$tip-bar-color:#fff;
$tip-bar-padding:5px 5px 5px 20px;
$tip-bar-background-default:#05cff9;
$tip-bar-background-info:#05cff9;
$tip-bar-background-error:#f50047;
$tip-bar-background-success:#00f55f;
$tip-bar-icon-font-size:10px;
$tip-bar-icon-left:5px;
$tip-bar-arrow-size:5px;
$tip-bar-arrow-color-default:$tip-bar-background-default;
$tip-bar-arrow-color-info:$tip-bar-background-info;
$tip-bar-arrow-color-error:$tip-bar-background-error;
$tip-bar-arrow-color-success:$tip-bar-background-success;

//register
$register-tip-bar-left:$form-input-width+20;

//login
$login-tip-bar-height:36px;
$login-tip-bar-margin:0 auto 20px;
