@import "../_variables";
@import "./_reset.scss";
@import "./_center.scss";
@import "./_markdown.scss";
@import "../mixin/_vertical_center.scss";
html{
	height:100%;
}
body{
	height:100%;
}
#blog,#root{
	height:100%;
}
.active-nav{
	background-color:$theme-adorn-color;
	box-shadow:$top-header-n-shadow;
}
.profile-tabs .active-tab{
	color: #fff;
	background:$theme-adorn-color;
	&:hover{
		color: #fff;
	}
}
.tips-in-modal{
	text-align:center;
	.small-tip{
		font-size:12px;
	}
}
.main-content{
	padding-top:60px;
	height:100%;
}
.show{
	display:block;
}
.hide{
	display:none;
}
.unvisible{
	visibility: hidden;
}
.visible{
	visibility: visible;
}
.clearfix{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.over-hidden{
	overflow: hidden;
}
.fixed{
	position:fixed;
}
.absolute{
	position:absolute;
}
.btn-normal{
	width:$button-normal-width;
	height: $button-normal-height;
	color: $button-normal-color;
	border:1px solid $button-normal-background;
	background-color: $button-normal-background;
	margin-left: $button-normal-margin;
	cursor: pointer;
	border-radius: $button-normal-border-radius;
	transition: all $transition-time-normal;
	&:hover{
		background-color: $button-normal-hover-background;
		border-color:$button-normal-hover-background;
	}
}
.btn-sm{
	width: $button-small-width;
	height: $button-small-height;
}
.btn-normal.disabled{
	background: #ccc;
	cursor: not-allowed;
	border: 1px solid #ccc;
	&:hover{
		background: #ccc;
		cursor: not-allowed;
		border: 1px solid #ccc;
	}
}
.input-wrap-normal{
	width:$input-wrap-normal-width;
	@include vCenterLineHeight($input-wrap-normal-height);
	margin:$input-wrap-normal-margin;
	background-color:#fff;
	border:$border-normal-gray;
	border-radius:$border-radius-normal;
	input{
		float: left;
	}
}

.input-normal{
	width:$input-normal-width;
	padding:$input-normal-padding;
	border:$input-normal-border;
	border-radius: $border-radius-normal;
	@include vCenterLineHeight($input-normal-height);
	&:focus{
		outline: none;
	}
}

.tip-bar-alert{
	position:absolute;
	min-width:$tip-bar-alert-min-width;
	width:auto;
	text-align: center;
	@extend .common-l-v-center-transform;
	i{
		left:auto;
		margin-left:$tip-bar-alert-icon-margin-left;
	}
	span{
		font-size:$tip-bar-alert-font-size;
	}
}

.no-border{
	border:none;
}

.avatar{
	width: 40px;
    height: 40px;
    border-radius: 50%;
}

.jiathis_style{
	display: none;
}

.article-detail .jiathis_style{
	display: block;
	img{
		border-radius: 10px 0 0 10px;
	}
}
.fa-file-text-o,
.fa-linkedin{
	font-size: 20px;
}
.fa-segmentfault::before{
	content:"Seg";
	font-size:16px;
	font-weight: bold;
}
.fa-douban::before{
	content:"豆瓣";
	font-size:16px;
	font-weight: bold;
}