@import "../_variables";
@import "./_reset.scss";
@import "./_font-awsome.scss";
.active-nav{
	background-color:$theme-adorn-color;
	box-shadow:$top-header-n-shadow;
}
.tips-in-modal{
	text-align:center;
}
.show{
	display:block;
}
.hide{
	display:none;
}
.unvisible{
	visibility: hidden;
}
.visible{
	visibility: visible;
}
