@import "../_variables";
@import "./_reset.scss";
@import "./_font-awsome.scss";
html{
	height:100%;
}
body{
	background: linear-gradient(#fff,#22C3AA);
	height:100%;
}
#blog,#root{
	height:100%;
}
.active-nav{
	background-color:$theme-adorn-color;
	box-shadow:$top-header-n-shadow;
}
.tips-in-modal{
	text-align:center;
	.small-tip{
		font-size:12px;
	}
}
.main-content{
	padding-top:60px;
	height:100%;
}
.show{
	display:block;
}
.hide{
	display:none;
}
.unvisible{
	visibility: hidden;
}
.visible{
	visibility: visible;
}
.clearfix{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}
.btn-normal{
	width:$button-normal-width;
	height: $button-normal-height;
	color: $button-normal-color;
	border:1px solid $button-normal-background;
	background-color: $button-normal-background;
	margin-right: $button-normal-margin;
	cursor: pointer;
	border-radius: $button-normal-border-radius;
	transition: all $transition-time-normal;
	&:hover{
		background-color: $button-normal-hover-background;
		border-color:$button-normal-hover-background;
	}
}
