@import "../variables";
@import "../mixin/square";
@import "../mixin/vertical_center";
@import "./_center.scss";
.form-box{
	width:$form-box-width;
	text-align:center;
	margin-top:$form-box-margin-top;
	font-size:$form-box-font-size;
	@extend .common-level-center-transform;
}
.form-group{
	position: relative;
	margin-bottom:$form-group-margin-bottom;
	input{
		width:$form-input-width;
		padding-left:$form-input-padding-left;
		border:$border-normal-main;
		border-radius: $border-radius-normal;
		@include vCenterLineHeight($form-group-height);
		&:focus{
			outline: none;
		}
	}
	&:before{
		position: absolute;
		width:$form-input-icon-width;
		color:$theme-main-color;
		@include vCenterLineHeight($form-group-height);
	}
}
.fa-envelope{
	&:before{
		font-size:$form-box-font-size - 2;
	}
}
.operate-btn{
	width:$form-operate-btn-width;
	height:$form-group-height;
	color:$form-operate-btn-color;
	font-size:$form-operate-btn-font-size;
	font-weight:bold;
	background-color:$theme-main-color;
	border:$border-normal-main;
	border-radius: $border-radius-normal;
	transition: all $transition-time-normal;
	cursor:pointer;
	&:hover{
		background-color: $theme-adorn-color;
		border:$border-normal-adorn;
	}
}
