@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";

.top-header{
	width:$top-header-width;
	height:$top-header-height;
	position:fixed;
	top:0;
	left:0;
	padding:$top-header-padding-vertical $top-header-padding-level;
	background-color:$theme-main-color;
	color:$top-header-n-color;
	font:$top-header-n-font;
	z-index:999;
	// display:none;
}
.logo{
	float:left;
	@include square($logo-size);
	img{
		@include square($logo-size);
		border-radius:$border-radius-circle;
	}
}
.header-nav{
	float:left;
	@include vCenterLineHeight($top-header-height - $top-header-padding-vertical*2);
	a{
		display: inline-block;
		width:$header-nav-item-width;
		@include vCenterLineHeight($header-nav-height);
		margin:$header-nav-item-margin;
		border-radius:$header-nav-item-border-radius;
		text-align: center;
		color:$top-header-n-color;
		transition: all $transition-time-normal;
		&:hover{
			background-color: $theme-adorn-color;
			border-radius:$header-nav-item-border-radius-hover;
		}
	}
}
