@import "../../sass/variables";
@import "../../sass/mixin/square";
@import "../../sass/mixin/vertical_center";

.top-header{
	width:$top-header-width;
	height:$top-header-height;
	position:fixed;
	top:0;
	left:0;
	padding:$top-header-padding-vertical $top-header-padding-level;
	background-color:$theme-main-color;
	color:$top-header-n-color;
	font:$top-header-n-font;
	z-index:999;
	// display:none;
}
.logo{
	float:left;
	position:relative;
	@include square($logo-size);
	img{
		@include square($logo-size);
		border-radius:$border-radius-circle;
	}
	span{
		min-width:18px;
		height:18px;
		line-height: 18px;
	    position: absolute;
	    top: -5px;
	    right: -5px;
	    color: #fff;
	    font-size: 12px;
	    font-weight:normal;
	    text-align:center;
	    background: $theme-adorn-color;;
	    border-radius: 10px;
	    padding: 0 2px;
	}
}
.msg-list{
	position: absolute;
	top: 60px;
	width: 300px;
	max-height:202px;
	padding: 10px;
    font-weight: normal;
    font-size: 14px;
    color: #555;
    border: $border-normal-gray;
    border-radius:$border-radius-normal;
    box-shadow: $box-shadow-normal;
    overflow:auto;
    li{
    	margin-bottom:10px;
    }
    a{
    	color:$theme-main-color;
    	margin:0 5px;
    	&:hover{
    		text-decoration:underline;
    	}
    }
}
.header-nav{
	float:left;
	@include vCenterLineHeight($top-header-height - $top-header-padding-vertical*2);
	a{
		display: inline-block;
		width:$header-nav-item-width;
		@include vCenterLineHeight($header-nav-height);
		margin:$header-nav-item-margin;
		border-radius:$header-nav-item-border-radius;
		text-align: center;
		color:$top-header-n-color;
		transition: all $transition-time-normal;
		&:hover{
			background-color: $theme-adorn-color;
			border-radius:$header-nav-item-border-radius-hover;
		}
	}
}
