$theme-main-color:#22C3AA;
$theme-adorn-color:#D0648A;
$border-radius-normal: 5px;
$border-radius-small: 3px;
$border-radius-circle: 50%;
$border-normal-main:1px solid $theme-main-color;
$border-normal-adorn:1px solid $theme-adorn-color;
$border-normal-gray:1px solid #ccc;
$box-shadow-normal:5px 5px 10px #555;
$transition-time-normal:1s;

//top-header
$top-header-width:100%;
$top-header-height:60px;
$top-header-padding-vertical:5px;
$top-header-padding-level:20px;
$top-header-n-color:#fff;
$top-header-n-font-size:18px;
$top-header-n-font:bold $top-header-n-font-size "Microsoft YaHei",sans-serif;;
$top-header-n-shadow:$box-shadow-normal;
$logo-size:$top-header-height - $top-header-padding-vertical*2;
$header-nav-height:30px;
$header-nav-item-width:100px;
$header-nav-item-margin:0 5px;
$header-nav-item-border-radius:0 10px 0 10px;
$header-nav-item-border-radius-hover:10px 0 10px 0;

//form-box
$form-box-width:400px;
$form-box-font-size:16px;
$form-box-margin-top:200px;
$form-box-border: 1px solid $theme-main-color;
$form-group-height:42px;
$form-group-margin-bottom:20px;
$form-input-icon-width:20px;
$form-input-width:300px;
$form-input-padding-left:$form-input-icon-width;
$form-operate-btn-width:$form-input-width;
$form-operate-btn-color:#fff;
$form-operate-btn-font-size:16px;

//quick-link
$quick-link-height:$top-header-height - $top-header-padding-vertical*2;
$quick-link-font-size:14px;
$quick-link-color-default:$theme-main-color;
$quick-link-color-custom:$top-header-n-color;
$quick-link-color-hover:$theme-adorn-color;
$quick-link-item-padding:0 5px;
$quick-link-item-division:1px solid #fff;

//contact-icon
$contact-icon-height:$top-header-height - $top-header-padding-vertical*2;
$contact-icon-size:40px;
$contact-icon-margin:0 10px;
$contact-icon-shadow:$top-header-n-shadow;
$contact-icon-color:$top-header-n-color;
$contact-icon-font-size:24px;

//tip-bar
$tip-bar-width:300px;
$tip-bar-oneline-height:36px;
$tip-bar-font-size:12px;
$tip-bar-line-height:1.5;
$tip-bar-color:#fff;
$tip-bar-padding:5px 5px 5px 20px;
$tip-bar-background-default:#3A7DD2;
$tip-bar-background-info:#3A7DD2;
$tip-bar-background-error:#f50047;
$tip-bar-background-success:#13AE67;
$tip-bar-icon-font-size:10px;
$tip-bar-icon-left:5px;
$tip-bar-arrow-size:5px;
$tip-bar-arrow-color-default:$tip-bar-background-default;
$tip-bar-arrow-color-info:$tip-bar-background-info;
$tip-bar-arrow-color-error:$tip-bar-background-error;
$tip-bar-arrow-color-success:$tip-bar-background-success;

//modal
$modal-normal-width:400px;
$modal-pos-top:20%;
$modal-header-height:30px;
$modal-header-padding:0 10px;
$modal-header-color:#fff;
$modal-adorn-background:$theme-adorn-color;
$modal-font-size:14px;
$modal-close-pos-top:5px;
$modal-close-pos-right:10px;
$modal-close-hover-color:$theme-main-color;;
$modal-body-padding:10px;
$modal-footer-height:60px;

//select
$select-normal-width:200px;
$select-normal-height:36px;
$select-show-text-padding-left:10px;
$select-dropdown-pos-right:10px;
$select-dropdown-font-size:14px;
$select-option-item-height:24px;
$select-option-item-padding-left:$select-show-text-padding-left;

//tag
$tag-normal-font-size:14px;
$tag-normal-font-family:Consolas;
$tag-normal-color:#fff;
$tag-normal-margin-right:10px;
$tag-normal-padding:2px 5px;
$tag-normal-background:$theme-main-color;
$tag-close-icon-margin-left:10px;
$tag-close-icon-hover-color:$theme-adorn-color;

//button
$button-normal-width:80px;
$button-normal-height:30px;
$button-normal-color:#fff;
$button-normal-margin:20px;
$button-normal-border-radius:$border-radius-normal;
$button-normal-background:$theme-adorn-color;
$button-normal-hover-background:$theme-main-color;

//page===register
$register-tip-bar-left:$form-input-width+20;
$register-tip-bar-noarrow-margin:0 auto 20px;

//page===login
$login-tip-bar-height:$tip-bar-oneline-height;
$login-tip-bar-margin:0 auto 20px;

//page===new-file
$new-main-width:1200px;
$new-main-height:680px;
$new-oneline-height:36px;
$new-main-padding-top:10px;
$new-select-width:$select-normal-width;
$new-btngroup-width:200px;
$new-tagbar-wrap-margin-level:20px;
$new-tagbar-wrap-padding-left:10px;
$new-tagbar-wrap-width:$new-main-width - $new-select-width - $new-btngroup-width - $new-tagbar-wrap-margin-level*2;
$new-tagbar-input-width:300px;
$new-operate-area-margin-top:$new-oneline-height;
$new-operate-area-gutter:40px;
$new-operate-area-width:($new-main-width - $new-operate-area-gutter)/2;
$new-operate-area-height:90%;
$new-operate-area-header-height:$new-oneline-height;
$new-operate-area-font:14px/1.5 Consolas;


